<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/feed.js"></script>

    	<title>News</title>
    </head>
    <body>
        <div class= "container">
            <p class="text-right"><a href="/logout" class="display-4">logout</a></p>
            <h2 class="display-2">Feed</h2>
            <div id="feed">
                <!-- Feed goes here -->
            </div>
        </div>
    </body>
</html>
